@import "./fonts/aewide/aewide.css"
@import "litepiefixer"
@import "vuecolorkitfixer"

@import "loading.css"

.system-bar-under
  font-family: "Courier New", Courier, monospace
  @apply z-50 bg-base-100 flex px-1 w-full fixed bottom-0 left-0

.main
  @apply flex w-full h-full top-8
  flex: 1 0 auto
  transition: .2s cubic-bezier(.4, 0, .2, 1)

//.img-backend
//  background-repeat: no-repeat
//  background-position: center
//  background-size: cover
//  background-color: #484e51
//

.nav-h-lim
  min-height: 30px !important

.dark-mode
  @apply cursor-pointer mx-2 hover:rotate-90 duration-500

.full-screen
  @apply cursor-pointer mx-2 duration-500

.spacer
  flex-grow: 1 !important

.nav-flex-cc
  @apply flex
  align-items: center
  align-content: center

.logo-text
  @apply font-mono font-bold

.aside-box
  @apply min-w-[150px] w-28 z-20 absolute rounded-xl top-[4.3rem] left-4 overflow-hidden
  transition: max-height .3s ease-in-out

.aside-content
  @apply hover:bg-base-200 p-2 rounded-xl

.aside-bottom
  margin-top: -1rem
  margin-left: -2.4rem
  margin-bottom: -1rem
  word-break: keep-all
  width: 135px
  transform: rotate(338deg)

.text-dash
  text-shadow: 4px 6px 5px black
  font-size: 3.5vw

.table-head-btn
  @apply btn text-primary hover:btn-primary hover:text-base-200 btn-outline btn-active btn-sm gap-1
  height: 2.3rem !important

.table-head-btn:not(:last-child)
  @apply mr-1 sm:mr-2

td:not(.no-hidden), th:not(.no-hidden), .nowrap-hidden-ellipsis
  white-space: nowrap !important
  overflow: hidden
  text-overflow: ellipsis

.overlay
  @apply fixed flex items-center justify-center left-0 top-0 h-full w-full z-40

.create-user-card-body
  @apply card-body absolute w-full bottom-0 bg-white bg-opacity-40 backdrop-blur-sm

.fe-input
  @apply mt-1 pl-2 text-neutral block w-full border-none bg-transparent bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 ring-1 ring-primary


.fe-select
  @apply text-neutral block border-none bg-transparent bg-gray-100 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 ring-1 ring-primary

.asset-loading
  transition: filter 1s linear

.tabs-horizontal
  @apply flex flex-col items-start bg-base-200 rounded-xl py-2 px-1

.tab-horizontal
  @apply p-0 mx-1 text-base rounded-xl flex w-32 gap-1 px-2
  justify-content: flex-start

.tab-horizontal:not(:last-child)
  @apply mb-1

.base-info
  height: 36px

  //margin-bottom: 20px
  padding-left: 30px
  margin-right: -20px
  font-size: 30px
  display: flex
  flex-direction: row
  align-items: center
  word-break: keep-all

.base-info-icon
  @apply w-9 h-9 inline-block

  margin-right: 10px

.fe-btn
  @apply btn text-primary hover:btn-primary hover:text-base-200 btn-outline btn-active btn-sm rounded-xl

  &_dft
    height: 1.875rem
    min-height: 1rem

  &_set
    @apply h-7 min-h-0 rounded-lg px-1.5

  &_absr
    @apply h-5 min-h-0 rounded-md px-1.5 text-base-content

  &_abs
    @apply rounded-md h-auto w-full p-0.5
