.system-bar-under
  font-family: "Courier New", Courier, monospace
  @apply z-10

.main
  @apply flex w-full
  flex: 1 0 auto
  transition: .2s cubic-bezier(.4, 0, .2, 1)

//.img-backend
//  background-repeat: no-repeat
//  background-position: center
//  background-size: cover
//  background-color: #484e51
//

.nav-h-lim
  min-height: 30px !important

.dark-mode
  @apply cursor-pointer mx-2 hover:rotate-90 duration-500

.full-screen
  @apply cursor-pointer mx-2 duration-500

.spacer
  flex-grow: 1 !important

.nav-flex-cc
  @apply flex
  align-items: center
  align-content: center

.logo-text
  @apply font-mono font-bold
