.system-bar-under
  font-family: "Courier New", Courier, monospace
  @apply z-10

.main
  @apply flex w-full h-full top-8
  flex: 1 0 auto
  transition: .2s cubic-bezier(.4, 0, .2, 1)

//.img-backend
//  background-repeat: no-repeat
//  background-position: center
//  background-size: cover
//  background-color: #484e51
//

.nav-h-lim
  min-height: 30px !important

.dark-mode
  @apply cursor-pointer mx-2 hover:rotate-90 duration-500

.full-screen
  @apply cursor-pointer mx-2 duration-500

.spacer
  flex-grow: 1 !important

.nav-flex-cc
  @apply flex
  align-items: center
  align-content: center

.logo-text
  @apply font-mono font-bold

.aside-box
  @apply min-w-[150px] w-28 z-20 absolute rounded-xl top-[4.3rem] left-4 overflow-hidden
  transition: max-height .3s ease-in-out

.aside-content
  @apply hover:bg-base-200 p-2 rounded-xl

.aside-bottom
  margin-top: -1rem
  margin-left: -2.4rem
  margin-bottom: -1rem
  word-break: keep-all
  width: 135px
  transform: rotate(338deg)

.text-dash
  text-shadow: 4px 6px 5px black
  font-size: 3.5vw