.loading-spinner {
    --height-of-loading-spinner: 4px;
    --loading-spinner-color: #0071e2;
    width: 60%;
    height: var(--height-of-loading-spinner);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}

.loading-spinner::before {
    content: "";
    position: absolute;
    background: var(--loading-spinner-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}