.appear-expand {
}

.appear-expand-enter-active {
    transition: all 0.3s cubic-bezier(.12, .24, .4, 1.31);
}

.appear-expand-leave-active {
    transition: all 0.3s cubic-bezier(.4, -0.31, .88, .76);
}

.appear-expand-enter-from,
.appear-expand-leave-to {
    transform: scale(0);
    opacity: 0;
}

.drop-down {
}

.drop-down-enter-active,
.drop-down-leave-active {
    transition: max-height 0.2s cubic-bezier(.8, 0, .33, .76);
}

.drop-down-enter-from,
.drop-down-leave-to {
    max-height: 0;
}

.drop-down-enter-to,
.drop-down-leave-from {
    max-height: 14rem;
}

.slide-left-to-right {
}


.slide-left-to-right-enter-active {
    transition: all 0.2s ease;
}

.slide-left-to-right-leave-active {
    transition: all 0.2s ease;
}


.slide-left-to-right-enter-from {
    transform: translateX(-100px);
    opacity: 0;
}

.slide-left-to-right-leave-to {
    transform: translateX(100px);
    opacity: 0;
}

.slide-left-to-right-enter-to,
.slide-left-to-right-leave-from {
    transform: translateX(0);
    opacity: 1;
}
